@import url('https://fonts.googleapis.com/css?family=Pangolin');
body{
  background-image: url(../img/sempre_alerta.jpg);
  background-repeat: no-repeat;
  background-position: center-bottom;
  background-attachment: fixed;
}


.texto-intro{
  border-radius: 5px;
  padding: 10px;
}

.mensagem-inicial{
  font-family: 'Pangolin', Verdana, Arial;
  font-size: 90px;
  color: #eacf9b;
}

.heading{
  font-family: 'Pangolin', Verdana, Arial;
  color: #eacf9b;
}

.markt-box{
  background-color: rgba(86,64,46, .8);
  border-radius: 10px;
}

.markt{
  height: 300px;
  width: 300px;
  background-color: #B9C159;
  border-radius: 150px;
  text-align: center;
  z-index: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: 'Pangolin', Verdana, Arial;
  font-size: 20px;
  padding-top: 20px;
}

.icone{
  font-size: 170px;
  margin-bottom: 10px;
  color: #47723E;
}

#scout_image{
  width: 350px;
  height: 200px;
}
