@font-face{
  font-family: 'claire';
  src: url(../fonts/ClaireHandRegular.otf);
}
@media(max-width:900px){
    body{
        overflow-x: hidden;
    }

}

@media(max-width:500px){
    .panel-comment{
        position:relative;
        left:25px;
    }
}
@media(max-width:561px){
    .panel-comment > .panel-heading{
        height: 80px!important;
    }
}
@media(max-width:421px){
    .panel-comment > .panel-heading{
        height: 100px!important;
    }
}
/*ScrollBar customizada*/

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
  background: white;
}
::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: #846246;
  border: 22px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #56402e;
}
::-webkit-scrollbar-thumb:active {
  background: #493727;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 48px;
}

body{
    background-image: url(../img/paisagem-background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 393px;
}

hr{
    height: 1px;
    background-color: #eacf9b;
    margin-bottom: 0;
}

.area{
  background-color: rgba(86,64,46, .5);
  border-radius: 10px;
  padding: 40px;
  color: #eacf9b;
}

.titulo{
    font-family: claire;
    font-size: 70px;
}

.panel-transparent{
    background-color: transparent;
}

.panel-title{
    font-family: claire;

}

.panel-post {
    position: relative;
    border-radius: 30px;
    border: 1px solid #eacf9b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent;
    color:#eacf9b!important;
    border-radius: 30px;
}
.panel-header::-webkit-scrollbar {
  width: 11px;
  height: 11px;
  background: #56402e;
}
.panel-header{
    background-color: #493727!important;
    
}

.menu-opt-post{
    margin-top: 10px;
}

.menu-opt-post li :hover{
    background-color: #846246 !important;
}
.glyphicon-chevron-down{
    color:#eacf9b!important;
}

.foto-perfil, .foto-comment{
    font-size: 60px;
    color: #eacf9b;
}
.foto-comment{
    padding: 0;
}

.dropdown-menu{
    border: 1px solid #eacf9b;
}

.divider{
    background-color: #eacf9b!important;
}

.autor-post{
    font-family: claire!important;
}


.panel-footer{
    background-color: transparent;
}
.btn-comentario{
    margin-left: -20px;
}

.data-post{
    font-size: 10px;
    position: relative;
    top: -10px;
}

.nav-esc a{
    color:#eacf9b!important;
    text-decoration: underline;
    font-size: 18px;
}
.panel-comment {
	position:relative;
    border:1px solid #47723E;;
    background-color:#47723E;
    padding:1px;
}

.panel-comment > .panel-body{
    border-radius:3px;
    color:#47723E;
}

/*Flecha do Comment*/
.panel-comment>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}

.panel-comment>.panel-heading:before{
	border-right-color:#47723E;
	border-width:15px;
    margin-top:-10px;
    margin-left: -10px;
}

.panel-comment > .panel-heading > strong{
    font-family: claire;
    color: #B9C159;
}

.panel-comment > .panel-heading{
    background-color:#47723E;
    height: 60px;
}

.panel-comment > .panel-heading a{
    font-family: claire!important;
    color: #B9C159!important;
    font-size: 18px;
}

.panel-comment > .panel-body{
    background-color: #B9C159;
}

.panel-geral-comentarios, .txt-area{
    background-color: rgba(115, 115, 115, .3);
    font-size:18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.txt-area{
    padding:15px;
    border-radius: 5px;
}

.panel-geral-comentarios{
    margin-bottom: 0;
}

.panel-post > .panel-body{
    padding-bottom: 0;
}

.text-verdinho, .text-verdinho:active, .text-verdinho:hover{
    color:#B9C159;
}

textarea#txtPost{
    resize: vertical;
    max-height: 200px;
}

.realizar-separator{
    margin-bottom:30px;
}

.panel-footer-realizar{
    height: 50px;
}

#chat{
    position: fixed;
    bottom: -10px;
    right: -10px;
    width: 200px;
    height: 30px;
}


